body {
	background-color: #212121;
	color: #FFF;
}

main {
	margin-bottom: 30px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
}

.table {
	color: #FFF;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #212121;
	color: #FFF;
	z-index: 999;
}

.preloader strong {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.red {
	color: #FF0000;
}

.orange {
	color: #d18100;
}

.green {
	color: #00a30e;
}

.light-blue {
	color: #008ae0
}

.navbar {
	box-shadow: -1px 1px 3px rgba(255,255,255,0.1);
}

.menu-dropdown {
	z-index: 1;
}

.icon-btn {
	font-size: 1.6em;
}

.tableFixHead { 
	overflow-y: auto;
	height: 500px;
	padding-bottom: 30px;
}
.tableFixHead thead th { 
	position: sticky; 
	top: 0;
	background-color: #212121;
}

.max-width {
	width: 100%;
}

.form-check-label a {
	color: #FFF;
	padding-left: 6px;
}

.form-check-label a:hover, .box a, .box a:hover {
	color: #FFF;
}

.tooltip-inner, .tooltip-arrow {
	background-color: #FFF;
	color: #000;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
	border-top-color: #FFF;
}

input[type=checkbox], input[type=radio] {
	transform: scale(1.5);
}

.navbar-brand h1 {
	font-size: 1.2em;
	margin-bottom: 0;
}

@media screen and (max-width: 795px) {
	.mbm-10 {
		margin-bottom: 10px;
	}
}