body {
	background-color: #212121;
	color: #FFF;
}
canvas {
	background: #212121;
	border: 1px solid rgba(255,255,255,0.5);
}
h1, h4, h5 {
	text-transform: uppercase;
}
h1 {
	font-size: 2em;
}
a, a:hover {
	color: #FFF;
}
nav {
	text-transform: uppercase;
}
.red {
	color: #FF0000;
}

#loader {
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: #212121;
	position: absolute;
	top: 0;
}
#mainContainer {
	display: none;
}
.loading {
	border: 6px solid #424242;
	border-top: 6px solid #FFF;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;

	position: absolute;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%,-50%);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255, 1);
}
.icon-box {
	text-align: right;
	padding-left: 0;
	padding-right: 0;
}
#secondContainer {
	display: none;
}
footer {
	margin-bottom: 5px;
}
.special-link, .special-link:visited {
	color: #2196f3;
}
.special-link:hover {
	text-decoration: underline;
}
.single-box {
	margin: 0 auto;
	text-align: center;
}
.single-box>p {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.single-box>h5 {
	font-size: 1em;
	font-weight: bold;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.modal-content {
	background-color: #212121;
}
.close {
	color: #FFF;
}
.close:hover {
	color: #FFF;
}
.modal-header {
	border-bottom: none;
}