<div class="row mt-3 mb-3 text-center box">
	<div class="col-md-3 border orange">
		<strong>
			Totale positivi
			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale attualmente positivi (ospedalizzati + isolamento domiciliare)"><i class="fas fa-question-circle"></i></a>
		</strong>
		<h4 id="boxTotaliPositivi"></h4>
		<strong>Incremento</strong>
		<h5 id="boxIncrementoPositivi"></h5>
	</div>
	<div class="col-md-3 border green">
		<strong>
			Dimessi/Guariti
			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone dimesse guarite"><i class="fas fa-question-circle"></i></a>
		</strong>
		<h4 id="boxGuariti"></h4>
		<strong>Incremento</strong>
		<h5 id="boxIncrementoGuariti"></h5>
	</div>
	<div class="col-md-3 border">
		<strong>
			Deceduti
			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone decedute"><i class="fas fa-question-circle"></i></a>
		</strong>
		<h4 id="boxDeceduti"></h4>
		<strong>Incremento</strong>
		<h5 id="boxIncrementoDeceduti"></h5>
	</div>
	<div class="col-md-3 border red">
		<strong>
			Totale casi
			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale casi positivi"><i class="fas fa-question-circle"></i></a>
		</strong>
		<h4 id="boxTotaleCasi"></h4>
		<strong>Incremento</strong>
		<h5 id="boxIncrementoTotaleCasi"></h5>
	</div>
</div>


<a class="mb-3 icon-advanced-box" data-toggle="collapse" href="#advancedBox" role="button" aria-expanded="false" aria-controls="advancedBox">
	<i class="fa fa-chevron-down"></i>
	Mostra più informazioni
	</a>
<div class="mb-3">
	<div class="row text-center box collapse" id="advancedBox">
		<div class="col-md-3 border orange">
			<strong>
				Totale ospedalizzati
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale ospedalizzati"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxTotaleOspedalizzati"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoOspedalizzati"></h5>
		</div>
		<div class="col-md-3 border green">
			<strong>
				Terapia intensiva
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Ricoverati in terapia intensiva"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxIntensiva"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoIntensiva"></h5>
		</div>
		<div class="col-md-3 border">
			<strong>
				Isolamento domiciliare
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone in isolamento domiciliare"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxIsolamentoDomiciliare"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoIsolamentoDomiciliare"></h5>
		</div>
		<div class="col-md-3 border red">
			<strong>
				Tamponi
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale tamponi"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxTamponi"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoTamponi"></h5>
		</div>
	</div>
</div>