---
layout: default
---

<div class="col-12 pt-4">

	<div class="mb-3 border-bottom">
		<h2 id="dashboardTitle">Andamento nazionale</h2>
	</div>

	<a class="btn btn-light" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
		<i class="fas fa-cogs"></i>
  	</a>
	<div class="collapse pt-3" id="filters">
		<h5>Seleziona i filtri</h5>
		<form id="filtersForm" class="pl-2 pr-2">
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="ricoverati_con_sintomi">
				<label class="form-check-label">
					Ricoverati con sintomi
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Ricoverati con sintomi"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="terapia_intensiva">
				<label class="form-check-label">
					Terapia intensiva
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Ricoverati in terapia intensiva"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="totale_ospedalizzati">
				<label class="form-check-label">
					Totale ospedalizzati
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale ospedalizzati"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="isolamento_domiciliare">
				<label class="form-check-label">
					Isolamento domiciliare
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone in isolamento domiciliare"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="totale_positivi">
				<label class="form-check-label">
					Totale positivi
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale attualmente positivi (ospedalizzati + isolamento domiciliare)"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="variazione_totale_positivi">
				<label class="form-check-label">
					Variazione totale positivi
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Variazione del totale positivi (totale_positivi giorno corrente - totale_positivi giorno precedente)"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="nuovi_positivi">
				<label class="form-check-label">
					Nuovi positivi
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Nuovi attualmente positivi (totale_casi giorno corrente - totale_casi giorno precedente)"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="dimessi_guariti">
				<label class="form-check-label">
					Dismessi/Guariti
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone dimesse guarite"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="deceduti">
				<label class="form-check-label">
					Deceduti
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone decedute"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="casi_da_sospetto_diagnostico">
				<label class="form-check-label">
					Casi da sospetto diagnostico
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Casi positivi al tampone emersi da attività clinica"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="casi_da_screening">
				<label class="form-check-label">
					Casi da screening
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Casi positivi emersi da indagini e test, pianificati a livello nazionale o regionale"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="totale_casi">
				<label class="form-check-label">
					Totale casi
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale casi positivi"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="tamponi">
				<label class="form-check-label">
					Tamponi
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale tamponi"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<div class="form-check mr-3">
				<input class="form-check-input filter-checkbox" type="checkbox" value="casi_testati">
				<label class="form-check-label">
					Casi testati
					<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale dei soggetti sottoposti al test"><i class="fas fa-question-circle"></i></a>
				</label>
			</div>
			<br>
			<div class="form-group col-sm-6 col-md-3 col-lg-2 pl-0 pr-0">
				<label>Andamento degli ultimi <i>N</i> giorni</label>
      			<input type="number" class="form-control" name="days" id="days" placeholder="Numero di giorni (esempio: 30)">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-light" id="applyFiltersBtn">Applica filtri</button>
			</div>
		</form>
	</div>

	<div class="row mt-3 mb-3 text-center box">
		<div class="col-md-3 border orange">
			<strong>
				Totale positivi
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale attualmente positivi (ospedalizzati + isolamento domiciliare)"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxTotaliPositivi"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoPositivi"></h5>
		</div>
		<div class="col-md-3 border green">
			<strong>
				Dismessi/Guariti
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone dimesse guarite"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxGuariti"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoGuariti"></h5>
		</div>
		<div class="col-md-3 border">
			<strong>
				Deceduti
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Persone decedute"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxDeceduti"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoDeceduti"></h5>
		</div>
		<div class="col-md-3 border red">
			<strong>
				Totale casi
				<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Totale casi positivi"><i class="fas fa-question-circle"></i></a>
			</strong>
			<h4 id="boxTotaleCasi"></h4>
			<strong>Incremento</strong>
			<h5 id="boxIncrementoTotaleCasi"></h5>
		</div>
	</div>

	<!--<div class="row mt-3 mb-3 orange text-center">
		<div class="col-md-3 border">
			<strong>Rapporto casi totali/tamponi effettuati</strong>
			<h4 id="boxRapportoTamponiPositivi"></h4>
		</div>
	</div>-->

	<div class="mb-3 chart border" style="height: 400px;">
		<canvas id="chart" style="width: 100%; height: 100%;">
	</div>

	<div class="tableFixHead">
		<table class="table table-borderless">
			<thead class="thead-dark">
				<tr id="tableHead">
				</tr>
			</thead>
			<tbody id="tableBody">
			</tbody>
		</table>
	</div>
</div>